fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
rembg==2.0.59
onnxruntime==1.18.1
pillow==10.4.0
python-magic==0.4.27
sqlalchemy==2.0.35
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
pydantic[email]==2.9.2
google-auth==2.35.0
httpx==0.27.2

# HD Upscaler
realesrgan==0.3.0
opencv-python-headless==4.10.0.84
torch==2.3.1
torchvision==0.18.1
basicsr==1.4.2
facexlib==0.3.0
gfpgan==1.3.8