fastapi
uvicorn
python-multipart
rembg
onnxruntime
pillow
python-magic
sqlalchemy
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
pydantic[email]
google-auth
httpx
opencv-python-headless